.about .about-head a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
}

.about .about-head p{
    color: var(--medium-blue);
    font-weight: 500;
}

.about .about-content{
    background-color: #e6e7ec;
    border-radius: 20px;
}

.about .partners img{
    transition: all .5s;
    cursor: pointer;
    width: 119px;
    height: 80px;
}
/* 
.about .form-offer{
    background-color: #E6E7EC;
    padding: 100px 0;
}

.about .form-offer .form-offer-content{
    background-color: white;
    border-radius: 12px;
    padding: 50px;
}

.about .form-offer form textarea{
    background-color: #F7F7F5;
    border-radius: 12px;
    padding: 15px;
    font-size: 13px;
    outline: none;
}

.about .form-offer form input{
    background-color: #F7F7F5;
    border-radius: 12px;
    padding: 15px;
    font-size: 13px;
    outline: none;
}

.about .form-offer form button{
    background-color: var(--medium-blue);
    border: none;
    border-radius: 12px;
    color: var(--white);
    padding: 15px 0;
} */

.about .worth-section img{
    width: 72px;
    height: 72px;
}
/* 
@media (max-width:540px) {
    .about .partners img{
        width: 119px;
        height: 80px;
    }
    .about .form-offer .form-offer-content h4{
        font-size: 20px;
    }


}

@media (max-width:1024px) {

    .about .form-offer{
        padding: 60px 0;
    }

    .about .form-offer .form-offer-content{
        padding: 20px;
    }

    .about .form-offer .form-offer-content form .form-controls{
        margin-top: 0 !important;
    }

    .about .form-offer .form-offer-content form input{
        margin-top: 20px !important;
    }

    .about .form-offer .form-offer-content form button{
        margin-top: 20px !important;
    }

    .about .form-offer .form-offer-content form{
        margin-top: 30px;
    }
}
 */
