.home .hero-text {
    font-size: 70px;
    font-weight: 600;
}

.home .hero-section {
    padding: 100px 0;
}

.home .hero-text .text {
    color: var(--medium-blue);
}

.home .benefit .row {
    background-color: #1d41ec;
    color: var(--white);
    padding: 80px 40px;
}

.home .border_style {
    border: 1px solid var(--medium-blue);
    padding: 10px;
    color: var(--medium-blue);
    border-radius: 5px;
    font-size: 18px !important;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(1, 0, 1, 0);
}

.answer.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.9s cubic-bezier(1, 0, 1, 0);

}

.home .wrapper .accordion span {
    color: var(--white);
}

.home .services span {
    transition: all .5s;
}

.home .services span:hover {
    color: var(--medium-blue);
}

.home .services .services-card {
    padding: 0;
    transition: all .5s;
    margin: 10px;
}

.home .services .card {
    border: 0;
    border-radius: 0;
    border: 1px solid var(--bright-gray);
    /* border-bottom: 1px solid var(--bright-gray); */
    transition: all .5s;
    height: 270px;
}

.home .services .card .card-icon {
    width: 50px;
    height: 50px;
}


.home .services .card:hover {
    box-shadow: 0px 4px 30px 0px rgba(212, 230, 255, 0.40);
}

.home .services .card:hover .card-title {
    color: var(--medium-blue);
    cursor: pointer;

}

.home .services .card .card-body .card-view {
    color: var(--dark) !important;
    font-weight: 500;
}

.home .services .card:hover .card-view {
    color: var(--medium-blue) !important;
    cursor: pointer;
}

.home .home-blog .home-blog-head .btn-home-blog a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--black);
    border-radius: 8px;
    font-size: 15px;
}

.home .home-blog .cards .card {
    height: 520px;
    width: 100%;
}

.home .home-blog .cards .card {
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

.home .home-blog .cards .read {
    color: var(--medium-blue);
    text-decoration: none;
}

/* .home-blog .blog-card img {
    transition: all 0.5s;
}

.home-blog .blog-card .card-body{
    padding: 15px 10px;
} */

.home .home-blog .cards .card h4 {
    transition: all 0.5s;
    padding-top: 5px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 21px;
}

.home .home-blog .cards .card .blogImg img {
    width: 100% !important;
    height: 356px;
    border-radius: 8px;
}

/* .home .home-blog .blog-card .card-title:hover {
    color: var(--medium-blue);
    cursor: pointer;
} */
/* 
.home .home-blog .blog-card .card-text {
    color: var(--spanish-gray);
    font-size: 15px;
}

.home .home-blog .blog-card img{
    height: 300px;
} */



/* .home-blog .blog-card:hover img {
    transform: rotateY(180deg);
}

.home-blog .blog-card .blog-card-end{
    padding: 20px 10px;
} */

/* .home-blog .blog-card .blog-card-end a {
    transition: all 0.5s;
    cursor: pointer;
    color: var(--black);
    font-size: 13px;
}

.home-blog .blog-card .blog-card-end a:hover {
    color: var(--medium-blue);
}

.home-blog .blog-card .blog-card-end:hover .right-btn {
    transform: rotate(45deg);
} */

.home .home-slide-section a {
    text-decoration: none;
    color: var(--black);
}

.home .slide {
    overflow: hidden;
    white-space: nowrap;
}

.home .slider {
    overflow: hidden;
    white-space: nowrap;
}

.home .home-slide {
    animation: 17s slide infinite linear;
}

.home .home-slider {
    animation: 17s slider infinite linear;
}

.home .slide:hover .home-slide {
    animation-play-state: paused;
}

.home .home-slide-section a {
    transition: all 0.5s;
}

.home .home-slide-section a:hover {
    color: #0023CA;
}

.home .slider:hover .home-slider {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slider {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


@media (max-width:768px) {
    .home .hero-text {
        font-size: 48px !important;

    }

    .home .home-blog .row {
        gap: 15px;
    }


}

@media (max-width:820px) {
    .home .hero-text {
        font-size: 75px;
    }

    .home .benefit .hero-img {
        padding-top: 40px;
    }


}

@media (max-width:992px) {
    .home .benefit .hero-img {
        padding-top: 40px;
    }

}

@media (max-width:426px) {
    .home .benefit .benefit-head p {
        font-size: 30px;
    }

    .home .benefit .wrapper .accordion h4 {
        font-size: 20px;
    }
}



@media (max-width:912px) {
    .home .hero-text {
        font-size: 75px;
    }
}

@media (max-width:540px) {
    .home .hero-text {
        font-size: 40px !important;
    }

    .text {
        text-align: center;
        order: 2;
    }

    /* .home .benefit .benefit-head{
        text-align: center;
    } */
    .home .benefit .benefit-head h4 {
        font-size: 26px;
    }

    .home .benefit .img-fluid {
        text-align: center;
    }

    .home .benefit .row {
        padding: 150px 20px;
    }



    .home .services span {
        font-size: 18px;
    }

    .home .testimonials .testimonials-title {
        font-size: 24px;
    }

    /* .home .testimonials .testimonials-head{
        text-align: center;
    } */
    /* .home .home-blog-head{
        text-align: center;
    } */
    .home h3 {
        font-size: 24px;
    }

    .home .home-blog-head {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .home .home-blog-head h4 {
        font-size: 24px;
    }

    .home .home-blog-head .btn-home-blog {
        padding: 5px 0;
    }



}

@media (max-width:480px) {
    .home .hero-text{
        font-size: 30px !important;
    }
   .neyman_home_text{
    font-size: 22px !important;
   }
   .accordion .item h4{
    font-size: 18px !important;
   }
   .home .border_style{
    font-size: 15px !important;
   }
   .neyman_price_font_size{
    font-size: 18px !important;
   }
}

/* @media (max-width:414px) {
    .home .hero-text{
        font-size: 26px !important;
    }
} */

@media (max-width:280px) {
    .home .benefit .benefit-head h4 {
        font-size: 20px;
    }

    .home .testimonials .testimonials-title {
        font-size: 20px;
    }
}


