.form-offer{
    background-color: #E6E7EC;
    padding: 100px 30px;
    border-radius: 5px;
}

.form-offer .form-offer-content{
    background-color: white;
    border-radius: 12px;
    padding: 50px;
}

.form-offer form textarea{
    background-color: #F7F7F5;
    border-radius: 12px;
    padding: 15px;
    font-size: 13px;
    outline: none;
}

.form-offer form input{
    background-color: #F7F7F5;
    border-radius: 12px;
    padding: 15px;
    font-size: 13px;
    outline: none;
}

.form-offer form button{
    background-color: var(--medium-blue);
    border: none;
    border-radius: 12px;
    color: var(--white);
    padding: 15px 0;
}

.form-offer .error{
    font-size: 13px;
}

@media (max-width:540px) {

    .form-offer .form-offer-content h4{
        font-size: 20px;
    }


}

@media (max-width:1024px) {

    .form-offer{
        padding: 60px 16px;
        border-radius: 5px;
    }

    .form-offer .form-offer-content{
        padding: 20px;
    }

    .form-offer .form-offer-content form .form-controls{
        margin-top: 0 !important;
    }

    .form-offer .form-offer-content form input{
        margin-top: 20px !important;
    }

    .form-offer .form-offer-content form button{
        margin-top: 20px !important;
    }

    .form-offer .form-offer-content form{
        margin-top: 30px;
    }
}
